doctype html
html(lang="en")
    include head.pug
    br
    div.container.text-center
        h1 Game Server
        h5 Page Not Found
        img.img-fluid.rounded.shadow.m-5(src=image alt='404 - Page Not Found' style='border: solid 1px black')
    include foot.pug