footer.py-2.bg-dark.fixed-bottom.d-none.d-sm-block
  .container
    h5.m-1.text-center.text-white Code Camp 2018
    p.m-1.text-center.text-white Brought to you by 
      a.text-white(href='https://bcbst.com' style='text-decoration: underline') BlueCross BlueShield of Tennessee
      |, 
      a.text-white(href='https://chatechcouncil.org/' style='text-decoration: underline') The Chattanooga Technology Council
      |, and 
      a.text-white(href='https://redhat.com' style='text-decoration: underline') Red Hat

// Bootstrap core JavaScript
script(src='/views/js/jquery-3.3.1.min.js')
script(src='/views/js/bootstrap.bundle.min.js')
