head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Game Monitor
  link(href='/views/css/bootstrap.min.css' rel='stylesheet')
  link(href='/views/css/home.css' rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#') Code Camp 2018
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/index') Home
        li.nav-item
          a.nav-link(href='#') Games
        li.nav-item
          a.nav-link(href='#') Teams
        li.nav-item
          a.nav-link(href='#') Scores

