doctype html
html(lang='en')
  head
    include head2.pug
  // Page Content
  .container
    // Portfolio Item Heading
    h1.my-4
      | Game AJAX TEST
      small - VIEW TESTING
    // Portfolio Item Row
    .row
      .col-md-8
        pre.p-1.bg-dark.text-white(id='mazeView' style="width:100%;height:100%;border:solid 1px #CCC") ... Maze view goes here?  
      .col-md-4
        h3.my-3 What is a Maze?
        p
          |A maze is a path or collection of paths, typically from an entrance to a goal.
          |The word is used to refer both to branching tour puzzles through which the solver must find a route,
          |and to simpler non-branching ("unicursal") patterns that lead unambiguously through a convoluted layout to a goal.
          |(The term "labyrinth" is generally synonymous with "maze", but can also connote specifically a unicursal pattern.)
          |The pathways and walls in a maze are typically fixed, but puzzles in which the walls and paths can change during the
          |game are also categorised as mazes or tour puzzles.
        h3.my-3 Code Camp Details
        ul
          li Much Maze!
          li Many Fun!
          li Lots Challenge!
          li Very A.I.!
    // /.row
    // Related Projects Row
    h3.my-4 Current Games
    .row(id='games')
  // Footer
  include foot.pug
  
  // AJAX functions go here...
  script.
    let gamesList = new Array();
    function refreshGames() {
        $(document).ready(function() {
        $.ajax({url: '!{gamesUrl}', success: function(result) {
            gamesList = result;
            $('#games').html('');
            gamesList.forEach( function(game, index) { 
              $('#games').append('<div class="col-md-3 col-sm-6 mb-4">' +
              '   <a class="btn" onclick="$(&quot;#mazeView&quot;).text(&quot;' + game.team.name + ' in ' + game.mazeStub.seed + '&quot;)">' + 
              '      <div class="card bg-secondary text-center" style="border:solid 1px black; width:200px;">' + 
              '         <img class="card-img-top" src="/views/images/' + game.team.logo + '" alt="Team Card" style="width:50%;margin-right:auto;margin-left:auto;margin-top:3px">' + 
              '         <h4 class="card-title align-middle text-white font-weight-bold" style="text-shadow:2px 2px #222">' + game.team.name + '</h4>' + 
              '         <div class="card-body bg-danger" style="border:solid 1px black">' + 
              '            <p class="card-text text-white" style="text-shadow:1px 1px #222">' + game.mazeStub.seed + '</p>' + 
              '         </div>' + 
              '      </div>' + 
              '   </a>' + 
              '</div>');
            });
        }});
      });
    }
    refreshGames();
    let gamesListTimer = setInterval(refreshGames, 1000);