body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}



.maze_row {
	border: none;
	margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    

}

.maze_cell {
    
    border: solid 1px lightgray;
    border-style: dashed;
    background-color: #efefef;
    height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
    /*    content: url('/views/images/stone_gray_1.png'); */
}


.path {
    background-color: #ddddff;
}

.start {
    background-color: lightgreen;
}

.finish {
    background-color: lightcoral;
}


#maze_container {
	padding: 0;
    margin: 0;
    max-width: 100%;
    display: inline-block;
    margin-left: 25px;
}
