body {
    padding-top: 54px;
    background: url(../images/digital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: fi */
}
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.outcomes-container {
    min-height: 250px;
    max-height: 250px;
    background-color: black;
    border: solid 1px white;
    overflow: hidden;
    font-family: consolas, monospace, serif;
    color: #00ff00;
}

#maze_container {
    color: black;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: inline-block;
    /* margin-left: 25px; */
}

.maze_row {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.maze_cell {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 0; /*solid 2px rgba(255,255,255, .1);*/
    border-style: dashed;
    background-color: rgba(255,255,255, .1);
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    /*    content: url('/views/images/stone_gray_1.png'); */
}

.path {
    background-color:rgba(255,255,255, .1);
}

.start {
    background-color: lightgreen;
}

.finish {
    background-color: lightcoral;
}

.bot-badge {
    margin-left: 2px;
    margin-right: 2px;
}


#media_controls_rew, #media_controls_back, #media_controls_play, #media_controls_pause, #media_controls_forward, #media_controls_ffw  {
    color: white;
    font-size: 26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#game_action, #game {
    background-color: rgba(0, 0, 0, .2) !important;
}

.navbar-toggler:hover {
    color: white;
    border-color: white;
}

.popover {


    background-color:rgba(0, 0, 0, .2) !important;
} 




/********************* MOVEMENT BUTTONS - REMOVE BEFORE PROD ********************/

.movement_btns {
    border-radius: 2px;
    border-radius: 0.25rem;
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
    padding: 0.25em 0.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin: 0.25em;
    cursor: pointer;
}

#movementBtnGroupUp,
#movementBtnGroupDown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

#movementBtnGroupLeft {
    display: inline-flex;
    border: none;
    justify-content: flex-end;
    width: 50%;
    padding: 0;
    padding-right: 2em;
    margin: 0;
}

#movementBtnGroupRight {
    display: inline-flex;
    border: none;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
    padding-left: 2em;
    margin: 0;
}

#btn_stand,
#btn_write {
    border-radius: 2px;
    border-radius: 0.25rem;
    color: white;
    border: 0;
    padding: 0.25em 0.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin: 0.25em;
    cursor: pointer;
}

/********************* END MOVEMENT BUTTONS *********************/
